*       text    eol=lf
*.exe   binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.ico   binary
*.icns  binary
*.webp  binary
*.gif   binary
*.mp4   binary
*.mov   binary
*.webm  binary
*.mp3   binary
*.flac  binary
*.wav   binary
*.ogg   binary
*.opus  binary
*.m4a   binary
*.dylib binary
*.so    binary
*.dll   binary
*.a     binary
*.jar   binary
*.keystore binary
*.apk   binary
*.zip   binary
*.gz    binary
*.pdf   binary
*.eot   binary
*.otf   binary
*.ttf   binary
*.woff  binary
*.woff2 binary
