[Desktop Entry]
Name=Samo
GenericName=Music player
Exec=${SAMO_DESKTOP_EXECUTABLE} ${SAMO_DESKTOP_ARGS}
TryExec=${SAMO_DESKTOP_EXECUTABLE}
Terminal=false
Type=Application
Icon=org.jeffvli.samo
StartupWMClass=samo
SingleMainWindow=true
Categories=AudioVideo;Audio;Player;Music;
Keywords=Navidrome;Jellyfin;Subsonic;OpenSubsonic
Comment=A player for your self-hosted music server
