.layout {
    position: relative;
    display: grid;
    grid-template-areas:
        'window-bar'
        'main-content'
        'player';
    grid-template-rows: 0 calc(100vh - 90px) 90px;
    grid-template-rows: 0 calc(100dvh - 90px) 90px;
    grid-template-columns: 1fr;
    gap: 0;
    height: 100%;
    overflow: hidden;
    background: #050505;
}

.windows {
    grid-template-rows: 0 calc(100vh - 90px) 90px;
    grid-template-rows: 0 calc(100dvh - 90px) 90px;
}

.macos {
    grid-template-rows: 0 calc(100vh - 90px) 90px;
    grid-template-rows: 0 calc(100dvh - 90px) 90px;
}
