.window-bar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
    grid-area: window-bar;
    width: 130px;
    height: 30px;
    pointer-events: none;
}

.windows-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: transparent;
    border-bottom: 0;
}

.windows-button-group {
    display: flex;
    flex-shrink: 0;
    width: 130px;
    height: 100%;
    pointer-events: auto;
    -webkit-app-region: no-drag;
}

.windows-button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    -webkit-app-region: no-drag;
    width: 50px;
    height: 30px;

    img {
        width: 35%;
        height: 50%;
    }

    &:hover {
        background: rgb(125 125 125 / 30%);
    }
}

.windows-button.exit {
    &:hover {
        background: var(--theme-colors-state-error);
    }
}

@media only screen and (width < 768px) {
    .windows-button-group {
        flex-shrink: 0;
        width: 120px;
    }

    .window-bar {
        width: 120px;
    }
}

.macos-button-group {
    position: absolute;
    top: 50%;
    left: 14px;
    display: flex;
    gap: 9px;
    align-items: center;
    transform: translateY(-50%);
    -webkit-app-region: no-drag;
}

.macos-button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
}

.macos-button.close-button {
    background: #ff5f57;
    border: 0.5px solid #e0443e;
}

.macos-button.min-button {
    background: #ffbd2e;
    border: 0.5px solid #dfa01a;
}

.macos-button.max-button {
    background: #28c840;
    border: 0.5px solid #14ae2c;
}

.macos-icon {
    width: 8px;
    height: 8px;
    pointer-events: none;
    opacity: 0;
}

.macos-button-group:hover .macos-icon,
.macos-button:hover .macos-icon {
    opacity: 1;
}
