.metadata-group {
    justify-content: center;
    width: 100%;

    @container (min-width: $mantine-breakpoint-sm) {
        justify-content: flex-start;
    }
}

.item-type {
    color: var(--theme-colors-foreground-muted);
}
