.actions-container {
    display: none;
}

.lyrics-container {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 0;
    height: 100%;
    overflow: hidden;

}

.scroll-container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    mask-image: linear-gradient(
        180deg,
        transparent 0%,
        rgb(0 0 0 / 100%) 15%,
        rgb(0 0 0 / 100%) 85%,
        transparent 95%
    );
}

.settings-icon {
    display: none;
}
