.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10vh 0 50vh;
    overflow: scroll;
    word-break: break-all;
    scrollbar-width: none;
    transform: translateY(-2rem);
    -ms-overflow-style: none;

    @media screen and (orientation: portrait) {
        padding: 5vh 0;
    }
}

.container::-webkit-scrollbar {
    display: none;
}
