.container {
    z-index: 200;
    grid-area: player;
    background: #050505;

    @mixin light {
        background: #050505;
    }

    @mixin dark {
        background: #050505;
    }

    transition: background 0.5s;
}

.open-drawer {
    &:hover {
        background: darken(var(--theme-colors-background), 20%);
    }
}
